.services {
    padding: 2rem 0rem;
    background-color: #87878721;
    width: 100%;
}

.service-box {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.services-cards-image {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: hidden;
    -webkit-transition: top .5s, right .5s, bottom .5s, left .5s;
    -o-transition: top .5s, right .5s, bottom .5s, left .5s;
    transition: top .5s, right .5s, bottom .5s, left .5s;
}

.services-cards-image img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: 50% 50%;
    object-position: 50% 50%;
    font-family: "object-fit: cover; object-position: 50% 50%";
    -webkit-transition: opacity .2s, -webkit-transform .7s cubic-bezier(.25, .46, .45, .94);
    transition: opacity .2s, -webkit-transform .7s cubic-bezier(.25, .46, .45, .94);
    -o-transition: transform .7s cubic-bezier(.25, .46, .45, .94), opacity .2s;
    transition: transform .7s cubic-bezier(.25, .46, .45, .94), opacity .2s;
    transition: transform .7s cubic-bezier(.25, .46, .45, .94), opacity .2s, -webkit-transform .7s cubic-bezier(.25, .46, .45, .94);
}

.services-cards-title{
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #333;
    color: #fff;
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
}
.services-cards-title h5 {
    color: black;
    padding: 5px;
    margin: 0;
    font-size: 16px;
}

.services-cards-title h5:hover {
    background-color: rgba(172, 255, 47, 0.315);
}

.services-cards-title h2 {
    font-weight: 700;
}

.services-cards-title h2 span {
    font-weight: 100;
}

/* boxes */

.boxes1 {
    grid-area: box1;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes2 {
    grid-area: box2;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes3 {
    grid-area: box3;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes4 {
    grid-area: box4;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes5 {
    grid-area: box5;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes6 {
    grid-area: box6;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes7 {
    grid-area: box7;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes8 {
    grid-area: box8;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.boxes9 {
    grid-area: box9;
        height: 325px;
            position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
    -webkit-transition: padding .5s;
    -o-transition: padding .5s;
    transition: padding .5s;
}

.WorkBox {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-areas: 'box1 box1 box2 box3'
        'box4 box5 box6 box6'
        'box9 box7 box7 box8'
    ;
    grid-template-columns: repeat(4, 1fr);
}


/* ..../...... */

@media (min-width: 1200px) {
    .service-box {
        max-width: 1140px;
    }
}


@media only screen and (max-width: 990px) {
    .service-box-main {
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem; */
    }

    .service-box {
        max-width: 720px;
    }
}

@media only screen and (max-width: 680px) {
    .service-box-main {
        /* display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem; */
    }

    .about-left .about-right {
        width: 100%;
    }

    .service-box {
        max-width: 520px;
    }
}

@media only screen and (max-width: 420px) {
    .service-box-main {
        /* display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 1rem; */
    }

}