.aboutUs {
    padding: 0rem 0 0 0;
    width: 100%;
    position: relative;
    /* background-image: linear-gradient(white ,rgba(255, 255, 255, 0.61) , rgba(128, 128, 128, 0.171)); */
}

.aboutUs:before {
    position: absolute;
    right: 0;
    /* top: 90px; */
    width: 367px;
    height: 91%;
    background-image: url(../../Assets/dots1.png);
    content: "";
}

.about-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    gap: 2rem;
}
.footer-down {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    gap: 2rem;
}

/* .about-main-heading {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
} */

.about-detail-box {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    /* gap: 1rem; */
}

.about-left {
    width: 30%;
}

.about-left img {
    width: 45%;
}

.about-title h2 {
    line-height: 1.2;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: color .3s ease-in-out;
}



.about-title h2 span {
    padding: 0px 10px;
    color: #ffffff;
    font-size: 30px;
    line-height: 35px;
    font-weight: bolder;
}


.about-title h2 span:first-child {
    background-color: #0086cf;
}

.about-title h2 span:nth-child(2) {
    margin-left: 2px;
    background-color: rgb(42 127 37);
}

.about-title h2 span:last-child {
    font-weight: 100;
    color: #333;
}

.about-detail p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #70778a;
    padding-bottom: 10px;
    margin-left: 20px;
}

.about-left-detail {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.about-left-detail p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #70778a;
    padding: 10px 0;
}

.about-detail-right {
    width: 50%;
    position: relative;
    padding-left: 45px;
}
.about-detail-right:before {
    position: absolute;
    content: "";
    top: 10px;
    left: 10px;
    width: 1px;
    height: 300px;
    background: rgba(126, 126, 126, 0.5);
}

.about-right-main{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    gap: 0rem 2rem;
}

.about-right-main-partners{
    display: flex;
    align-items: center;
    margin-bottom: 65px;
}

.about-detail-left {
    display: flex;
    align-items: center;
}

.about-detail-left p {
    margin: 0;
}

.about-detail-left svg {
    font-size: 30px;
    color: #fdfdfd;
    position: relative;
    top: 3px;
}
.about-detail-left img {
    width: 55%;
    object-fit: contain;
    height: 100px;
}


.about-detail-left .about-detail-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border-radius: 50px;
    position: relative;
    width: 60px;
    height: 60px;
    display: block;
    line-height: 42px;
    text-align: center;
    color: #fff;
    background-color:  rgb(42 127 37);
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
}
.about-detail-left p{
    margin: 0;
}

.about-detail-left .about-detail-left-icon:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color:  #73b628;
    content: "";
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border-radius: 50px;
}
.about-detail-left .about-detail-left-icon:hover:before {
    transform: scale(1);
}

.detail-heading {
    display: flex;
    align-items: center;
}

.detail-heading p {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(42 127 37);
    margin: 0;
    padding: 15px;
    font-size: 30px;
    border-radius: 50px 0px 50px 50px;
    color: white;
}

.detail-heading h3 {
    font-size: 22px;
    margin-left: 20px;
}

.detail-desc ul {
    padding: 0;
}

.detail-desc ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #70778a;
    font-weight: 700;
}

.detail-desc ul li svg {
    color: white;
    font-size: 22px;
    background-color: #73b628;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}


.about-right {
    width: 70%;
}

.about-right .about-detail-right p,
.about-right .about-detail-left p {
    color: #70778a;
}

.about-right .about-detail-right svg,
.about-right .about-detail-left svg {
    color: #ffffff;
}

.about-right-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-right-body {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.about-right img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    /* rotate: 90deg; */
}

/* .detail-desc{
    display: flex;
    align-items: center;
} */

.footer-down{
    
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    border-top: 1px solid #ccc;
    margin-top: 3rem;
    padding-top: 15px;
}


.footer-copyright {
    display: flex;
    align-items: center;
    /* width: 100%; */
}

.footer-copyright p {
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
}

.footer-copyright-menu ul{
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-copyright-menu ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px;
    font-size: 12px;
}
.footer-copyright-menu ul li a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
}



/* .footer-copyright p {
    /* padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    color: rgb(71, 71, 71);
    text-decoration: none; */


.footer-right-quick{
    width: 60%;
}
.footer-right-quick ul{
    display: flex;
    align-items: center;
    padding: 0;
}
.footer-right-quick ul li{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.footer-right-quick ul li a{
    text-decoration: none;
    color: black;
}
.footer-right-quick ul li a:hover{
    text-decoration: none;
    color: rgb(42 127 37);
}

.right-head-items {
    background: #f1f1f1;
    border-radius: 38px 5px 5px 5px;
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    position: relative;
}
.right-head-items:hover {
    background-color: #ecffe1;
}
.right-head-items:hover svg{
    transition: all 300ms ease;
    rotate: 45deg;

}

.about-social-media {
    text-align: end;
    margin-top: 20px;
    
}
.about-social-media .media-items {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.about-social-media h6 {
    font-size: 20px;
}

.about-social-media svg {
    font-size: 12px;
    position: relative;
}

.about-social-media p {
    position: relative;
    /* display: block; */
    line-height: 42px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    color: rgb(42 127 37);
    /* background-color:  rgb(42 127 37); */
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    margin: 0px 10px 0px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-social-media p:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    background-color:  #73b628;
    content: "";
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    border-radius: 50px;
}
.about-social-media p:hover:before {
    transform: scale(1);
}

.detail-desc-form {
    position: relative;
    margin-bottom: 33px;
    border: 1px solid rgb(42 127 37);
    border-radius: 3px;
}

.detail-desc-form input {
    border: none;
    background: #ecffe1;
    width: 365px;
    height: 62px;
    line-height: 62px;
    padding: 0 20px;
    border-radius: 5px;
    /* border: 1px solid rgb(42 127 37); */
}
.about-right-main .detail-right-heading h3{
    font-size: 40px;
    margin-bottom: 15px;
}
.about-right-main .detail-right-heading p{
    max-width: 510px;
    margin-bottom: 0;
}

.detail-right-heading h3{
    font-size: 40px;
    margin-bottom: 15px;
}
.detail-right-heading p{
    max-width: 510px;
    margin-bottom: 20px;
}

.form-btn {
    position: absolute;
    right: 0;
    top: 0;
}

.form-btn p {
    border: none;
    padding: 22px 26px !important;
    display: inline-block;
    padding: 17px 26px;
    text-align: center;
    border-radius: 3px;
    color: white;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    background-color: rgb(42 127 37);
    position: relative;
    overflow: hidden;
    z-index: 1;
    line-height: 1;
    border: none;
    cursor: pointer;
}

.form-btn p:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: #73b628;
    transition: all 0.3s;
    border-radius: 3px;
    z-index: -1;
}

.form-btn p:hover {
    border-left: 1px solid rgb(42 127 37)  ;
}

.form-btn p:hover:before {
    width: 100%;
}


@media (min-width: 1200px) {
    .about-main {
        max-width: 1140px;
    }
    .footer-down {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 990px) {

    .about-main {
        max-width: 720px;
    }
}

@media only screen and (max-width: 680px) {

    .about-main {
        gap: 0;
        display: block;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-main {
        max-width: 520px;
    }
}

@media only screen and (max-width: 420px) {
    .about-detail-box{
        display: block;
    }

    .footer-right-quick ul {
        display: block;
    }
    .footer-right-quick ul li{
        padding-bottom: 5px;
    }

    .about-social-media .media-items {
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }

    .footer-down{
        display: block;
        margin-top: 1rem;
    }

    .footer-copyright-menu ul {
        padding: 0;
        flex-flow: wrap;
    }
    .footer-copyright-menu ul li{
        display: block;
        /* padding: 0; */
        padding-bottom: 5px;
    }
}