.aboutUs {
    padding: 3rem 0 0 0;
    width: 100%;
    position: relative;
}

.aboutUs:before {
    position: absolute;
    right: 0;
    /* top: 90px; */
    width: 367px;
    height: 100%;
    background-image: url(../../Assets/dots1.png);
    content: "";
}

.about-main {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    gap: 2rem;
}

/* .about-main-heading {
    display: flex;
    align-items: center;
    padding-bottom: 20px;
} */

.about-detail-box {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.about-left {
    width: 30%;
}

.about-left img {
    width: 45%;
}

.about-title h2 {
    line-height: 1.2;
    font-weight: 900;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    color: #333;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: color .3s ease-in-out;
}



.about-title h2 span {
    padding: 0px 10px;
    color: #ffffff;
    font-size: 30px;
    line-height: 35px;
    font-weight: bolder;
}


.about-title h2 span:first-child {
    background-color: #0086cf;
}

.about-title h2 span:nth-child(2) {
    margin-left: 2px;
    background-color: #94c11c;
}

.about-title h2 span:last-child {
    font-weight: 100;
    color: #333;
}

.about-detail p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #70778a;
    padding-bottom: 10px;
    margin-left: 20px;
}

.about-left-detail {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.about-left-detail p {
    margin: 0;
    font-weight: 400;
    font-size: 16px;
    color: #70778a;
    padding: 10px 0;
}

.about-detail-right {
    width: 50%;
}

.about-detail-left {
    width: 50%;
    display: flex;
    align-items: center;
}
.about-detail-left p{
   margin: 0;
}

.about-detail-left svg {
    font-size: 30px;
    color: #fdfdfd;
    
}

.about-detail-left .about-detail-left-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #94c11c;
    margin: 0;
    padding: 15px;
    font-size: 30px;
    border-radius: 50px;
    margin-right: 20px;
}

.detail-heading {
    display: flex;
    align-items: center;
}

.detail-heading p {
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #94c11c;
    margin: 0;
    padding: 15px;
    font-size: 30px;
    border-radius: 50px 0px 50px 50px;
    color: white;
}

.detail-heading h3 {
    font-size: 22px;
    margin-left: 20px;
}

.detail-desc ul {
    padding: 0;
    ;
}

.detail-desc ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #70778a;
    font-weight: 700;
}

.detail-desc ul li svg {
    color: white;
    font-size: 22px;
    background-color: #94c11c;
    border-radius: 50%;
    padding: 5px;
    margin-right: 10px;
}


.about-right {
    width: 70%;
}

.about-right .about-detail-right p,
.about-right .about-detail-left p {
    color: #70778a;
}

.about-right .about-detail-right svg,
.about-right .about-detail-left svg {
    color: #ffffff;
}

.about-right-head {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.about-right-body {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.about-right img {
    object-fit: cover;
    border-radius: 10px;
    width: 100%;
    /* rotate: 90deg; */
}

/* .detail-desc{
    display: flex;
    align-items: center;
} */

.detail-desc form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid gray;
    border-radius: 5px;
    
}
.detail-desc input{
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
}
 .detail-desc form p{
   margin: 0;
   background-color: #73b628;
   padding: 15px 20px;
}

.footer-copyright {
    width: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-top: 1px solid #73b628;
    margin-top: 50px;
}

.footer-copyright p a {
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.footer-copyright p {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    color: rgb(71, 71, 71);
    text-decoration: none;
}

.right-head-items {
    background: #f1f1f1;
    border-radius: 38px 5px 5px 5px;
    padding: 10px;
    margin-right: 10px;
}

.about-social-media {
    margin-top: 20px;
}

.about-social-media h6 {
    font-size: 20px;
}

.about-social-media svg {
    font-size: 20px;
    margin-right: 15px;
}

.about-social-media svg:first-child {
    color: rgb(0, 174, 255);
}

.about-social-media svg:nth-child(2) {
    color: rgb(255, 0, 85);
}

.about-social-media svg:nth-child(3) {
    color: blue;
}

.about-social-media svg:nth-child(4) {
    color: red;
}

.about-social-media svg:nth-child(5) {
    color: rgb(0, 101, 148);
}

@media (min-width: 1200px) {
    .about-main {
        max-width: 1140px;
    }
}

@media only screen and (max-width: 990px) {

    .about-main {
        max-width: 720px;
    }
}

@media only screen and (max-width: 680px) {

    .about-main {
        gap: 0;
        display: block;
    }

    .about-left,
    .about-right {
        width: 100%;
    }

    .about-right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about-main {
        max-width: 520px;
    }
}