.Blog {
  padding: 6rem 0rem;
  background-color: rgb(42 127 37);
  width: 100%;
  position: relative;
}
.Blog:before {
  position: absolute;
  left: 0;
  top: 10%;
  width: 400px;
  height: 64%;
  background-image: url(../../Assets/Images/demo-elearning-bg-05.png);
  content: "";
}

.blog-main-button{
  width: 15%;
}

.Blog-main {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.blog-main-box {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  align-items: center;
  gap: 1rem;
}

.blog-main-heading {
  margin-bottom: 50px;
  line-height: 1.4;
  font-weight: 300;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.blog-main-heading h2 {
  position: relative;
  font-size: 4rem;
  padding: 5px;
  padding-bottom: 15px;
  margin: 0;
  font-weight: 900;
  color: rgb(255, 255, 255);
}
.blog-main-heading h2 span {
  font-weight: 100;
}
.blog-main-heading p {
  margin: 0 0 0px 0;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  padding-bottom: 10px;
  width: 80%;
}

.blog-main-button p{
  width: 100%;
  border-radius: 0px 20px 0px 20px;
    padding: 22px 35px !important;
    /* display: inline-block; */
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s;
    background-color: rgb(255, 255, 255);
    position: relative;
    overflow: hidden;
    z-index: 1;
    line-height: 1;
    cursor: pointer;
}
.blog-main-button p:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #73b628;
  transition: all 0.3s;
  border-radius: 3px;
  z-index: -1;
}
.blog-main-button p:hover:before {
  width: 100%;
}

.HomeNews-box-item .date {
  position: absolute;
  top: 20px;
  left: 20px;
  background: rgb(42 127 37);
  color: #fff;
  font-size: 10px;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  font-weight: 600;
}
.HomeNews-box-item .date:before {
  position: absolute;
  bottom: -9px;
  left: 0;
  border-top: 10px solid rgb(42 127 37);
  border-right: 10px solid transparent;
  content: "";
}

.HomeNews-box-item .__date-post {
  font-size: 1.2rem;
  text-transform: capitalize;
  color: #5c5c5c;
}

.HomeNews-box-item .date .__date-post strong {
  display: block;
  margin-bottom: 2px;
  font-size: 2rem;
  font-weight: 900;
  font-family: Raleway, sans-serif;
  color: #333;
}

.HomeNews-box-item .date i {
  font-family: "Barlow Condensed", sans-serif;
  display: block;
  font-size: 24px;
  font-style: normal;
  color: #fff;
}

.HomeNews-box-item .date a {
  text-decoration: none;
}

.HomeNews-box {
  position: relative;
  overflow: hidden;
}

.HomeNews-box-item-head {
  position: relative;
}

.HomeNews-box-item {
  position: relative;
}

.HomeNews-box-item img {
  width: 100%;
  object-fit: cover;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  aspect-ratio: 3/4;
filter: brightness(90%);
}

.HomeNews-box:hover img {
  -webkit-filter: none;
  filter: none;
  -webkit-transform: scale(1.09, 1.09);
  transform: scale(1.09, 1.09);
  -webkit-filter: brightness(75%);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

.HomeNews-box .con {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px 35px 32px;
  border-radius: 0 0 10px 10px;
  -webkit-transition: all 300ms ease;
  transition: all 200ms ease;
}

.HomeNews-box:hover .con {
  bottom: 0;
}

.HomeNews-box .con .category {
  color: #ddc051 !important;
  font-family: "Barlow", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 5px;
  letter-spacing: 3px;
}

.HomeNews-box .con h5 {
  line-height: 25px;
  color: #fff;
  margin-bottom: 0px;
}

.HomeNews-box .con .category {
  margin-right: 5px;
  position: relative;
  text-decoration: none;
}
.HomeNews-box .con p {
  position: relative;
  font-size: 12px;
  line-height: 30px;
  color: #fff;
  font-weight: 600;
  margin-right: 15px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}
.HomeNews-box .con p svg {
  font-size: 18px;
  margin-right: 10px;
  color: #73b628;
}

.con-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px 20px 0px 20px;
  background-color: #789b17;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  line-height: 1;
  cursor: pointer;
}
.con-button:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #194341;
  border-radius: 0px 20px 0px 20px;
  transition: all 0.3s;
  z-index: -1;
}

.con-button:hover:before {
  width: 100%;
}
.con-button p {
  padding: 20px;
  margin: 0;
  color: white !important;
}
.con-button svg {
  font-size: 25px;
  color: white !important;
}

@media (min-width: 1200px) {
  .Blog-main {
    max-width: 1140px;
  }
}
