.blog2-wave{
    background-color: white;
    position: relative;
    rotate: 180deg;
    height: 200px;
  }
  .blog2-wave svg{
    position: absolute;
    bottom: -1px;
  }
  .blog2-wave svg path{
    fill: #005800;
  }